FencingArchive_API/assets/fencingarchive/xsd/twitter_status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="twitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="node" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="created_at"/>
              <xs:element type="xs:long" name="id"/>
              <xs:element type="xs:long" name="id_str"/>
              <xs:element type="xs:string" name="text"/>
              <xs:element type="xs:string" name="source"/>
              <xs:element type="xs:string" name="truncated"/>
              <xs:element type="xs:string" name="in_reply_to_status_id"/>
              <xs:element type="xs:string" name="in_reply_to_status_id_str"/>
              <xs:element type="xs:string" name="in_reply_to_user_id"/>
              <xs:element type="xs:string" name="in_reply_to_user_id_str"/>
              <xs:element type="xs:string" name="in_reply_to_screen_name"/>
              <xs:element name="user">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element type="xs:int" name="id_str"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="screen_name"/>
                    <xs:element type="xs:string" name="location"/>
                    <xs:element type="xs:string" name="profile_location"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:anyURI" name="url"/>
                    <xs:element name="entities">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="url">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="urls">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="node">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:anyURI" name="url"/>
                                            <xs:element type="xs:anyURI" name="expanded_url"/>
                                            <xs:element type="xs:string" name="display_url"/>
                                            <xs:element name="indices">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:byte" name="node" maxOccurs="unbounded" minOccurs="0"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="description">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="urls">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="node">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:anyURI" name="url"/>
                                            <xs:element type="xs:anyURI" name="expanded_url"/>
                                            <xs:element type="xs:string" name="display_url"/>
                                            <xs:element name="indices">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:byte" name="node" maxOccurs="unbounded" minOccurs="0"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="protected"/>
                    <xs:element type="xs:byte" name="followers_count"/>
                    <xs:element type="xs:byte" name="friends_count"/>
                    <xs:element type="xs:byte" name="listed_count"/>
                    <xs:element type="xs:string" name="created_at"/>
                    <xs:element type="xs:byte" name="favourites_count"/>
                    <xs:element type="xs:byte" name="utc_offset"/>
                    <xs:element type="xs:string" name="time_zone"/>
                    <xs:element type="xs:string" name="geo_enabled"/>
                    <xs:element type="xs:string" name="verified"/>
                    <xs:element type="xs:short" name="statuses_count"/>
                    <xs:element type="xs:string" name="lang"/>
                    <xs:element type="xs:string" name="contributors_enabled"/>
                    <xs:element type="xs:string" name="is_translator"/>
                    <xs:element type="xs:string" name="is_translation_enabled"/>
                    <xs:element type="xs:byte" name="profile_background_color"/>
                    <xs:element type="xs:anyURI" name="profile_background_image_url"/>
                    <xs:element type="xs:string" name="profile_background_image_url_https"/>
                    <xs:element type="xs:string" name="profile_background_tile"/>
                    <xs:element type="xs:anyURI" name="profile_image_url"/>
                    <xs:element type="xs:string" name="profile_image_url_https"/>
                    <xs:element type="xs:short" name="profile_link_color"/>
                    <xs:element type="xs:string" name="profile_sidebar_border_color"/>
                    <xs:element type="xs:string" name="profile_sidebar_fill_color"/>
                    <xs:element type="xs:int" name="profile_text_color"/>
                    <xs:element type="xs:byte" name="profile_use_background_image"/>
                    <xs:element type="xs:string" name="default_profile"/>
                    <xs:element type="xs:string" name="default_profile_image"/>
                    <xs:element type="xs:string" name="following"/>
                    <xs:element type="xs:string" name="follow_request_sent"/>
                    <xs:element type="xs:string" name="notifications"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="geo"/>
              <xs:element type="xs:string" name="coordinates"/>
              <xs:element type="xs:string" name="place"/>
              <xs:element type="xs:string" name="contributors"/>
              <xs:element type="xs:byte" name="retweet_count"/>
              <xs:element type="xs:byte" name="favorite_count"/>
              <xs:element name="entities">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hashtags">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="node" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="text"/>
                                <xs:element name="indices">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="node" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="symbols"/>
                    <xs:element name="user_mentions">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="node" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="screen_name"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:long" name="id"/>
                                <xs:element type="xs:long" name="id_str"/>
                                <xs:element name="indices">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="node" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="urls">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="node" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="url"/>
                                <xs:element type="xs:string" name="expanded_url"/>
                                <xs:element type="xs:string" name="display_url"/>
                                <xs:element name="indices">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="node" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="favorited"/>
              <xs:element type="xs:string" name="retweeted"/>
              <xs:element type="xs:string" name="possibly_sensitive" minOccurs="0"/>
              <xs:element type="xs:string" name="lang"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>